@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Raleway:wght@300&display=swap');

html {
    font-size: 62.5%;
}

body {
    background-color: grey;
    font-family: 'Libre Baskerville', serif;
font-family: 'Raleway', sans-serif;
    font-size: 3rem; 
}





/* header */
header {
    background-color: white;
    background-blend-mode: color-burn;
   
    
}
.logo {
    width: 80px;;
}
.logonav {
    width: 40px;
}
.fuentenav {
    font-size: 2.5rem;
    padding-left: 3rem;
}