/* footer */
footer {
    font-size: 2rem;
    border-top: solid 2px whitesmoke;

}

#correo {
    font-size: 20px;
}
/* logo wssp */
.logowhats {
    width: 80px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}