

.tituloind {
    text-align: center;
    text-transform: uppercase;
    /* text-decoration-style: dashed; */
    font-weight: bold;
    padding: 1rem;
    font-size: 3rem;
}

/* carrousel */
.imgcarro {
    height: 80vh;
    object-fit: cover;
}

.tituCar {
    font-size: 3rem;
    font-weight: bolder;
}

.carroFont {
    font-size: 2rem;
    font-weight: bold;
}

.fontFea {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
}

.fontFea2 {
    font-size: 2rem;
    text-align: center;
}