/* header */
header {
    background-color: rgb(18, 18, 18);
    background-blend-mode: color-burn;
  }
  
  .colorNav {
    color: aliceblue;
  }
  
  .logo {
    width: 180px;
  }
  
  .logonav {
    width: 60px;
  }
  
  .fuentenav {
    font-size: 2.2rem;
    padding-left: 4rem;
  
    /* color: rgb(228, 234, 240); */
  }
  
  .btn {
    background-color: rgb(18, 19, 17);
    color: aliceblue;
    font-size: $text-xs;
  }
  
  .footFont {
    font-size: 30px;
  }